<!DOCTYPE html>
<html>

  <head>
    {% load static %}
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Regi Apriandi | Resume</title>
    <style>
        * {
          box-sizing: border-box;
        }
        
        .column {
          float: left;
          width: 25%;
          padding: 5px;
        }
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>
  </head>

  <body>
    <header style="background-color: black;">
        <nav>
          <ul>
            <li><a class="nav-link" href="#achievement" style="text-decoration: none; color: white">Achiev-
                ements</a></li>
		  	<li><a class="nav-link" href="#programing" style="text-decoration: none; color: white">Progr-
            aming</a></li>
		  	<li><a class="nav-link" href="#projects" style="text-decoration: none; color: white">Proj-
                ects</a></li>
		  	<li><a class="nav-link" href="#publications" style="text-decoration: none; color: white">Public-
                ations</a></li>
          </ul>
        </nav>
    </header>

    <main>
      <section>
        </div>
           <h1 style="padding-top: 80px; padding-bottom: 40px;">Regi Apriandi Resume</h1>
           <div style="text-align: left;  margin: auto;
           width: 55%;
           border: 3px solid black;
           padding: 10px; font-size: 18px;">
           <ul>
           <li>My full name is Regi Apriandi.</p></li>
           <li>I was born in Brebes, 2 April 2001.</p></li>
           <li>I’m currently study at Institut Teknologi Telkom Purwokerto.</p></li>
           <li>I’m currently majoring in informatics engineering in the sixth semester.</p></li>
           <li>I’m currently learning Programing, Networking, DevOps, Raspberry Pi, and Machine Learning.</p></li>
           </ul>
           </div>
        </div>
      </section>
    </main>

    <section class="supporting" id="achievement">
      <div class="container">
        <div class="col">
          <h1>Achievement</h2>
          <p>Below are my achievements during the last two years of studying, I have studied several fields in computer science such as programming, algorithms and data structures, database, networking, IoT, and machine learning. I got an award for the alibaba cloud techshare indonesia competition and i have completed many learning courses and got a certificate.</p>
          <h2 style="text-align: left;">Honors & awards</h2>
          <h3 style="text-align: left;"><b>2021</b></h3>
          <ul style="text-align: left;">
                <li style="padding: 10px;"><h5><b>Alibaba Cloud Techshare Indonesia Winner</b> (Alibaba Cloud Indonesia) <a style="margin: 10px;" target="_blank" href="https://drive.google.com/file/d/123CCgKDKQDNFizdSuF3M_ftRRs9u3fhU/view?usp=sharing">View Cert</a></h5></li>
          </ul>
        <h2 style="text-align: left;">Certifications</h2>
        <h3 style="text-align: left;"><b>2022</b></h3>
        <ul style="text-align: left;">
            <li style="padding: 10px;"><h5><b>Build Python Web Apps with Django Skill Path </b> (Codecademy) <a style="margin: 10px;" target="_blank" href="https://www.codecademy.com/profiles/regiapriandi012/certificates/607878ed81004d0017706259">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Python (Basic)</b> (Hackerrank) <a style="margin: 10px;" target="_blank" href="https://www.hackerrank.com/certificates/ca72bbbb7951">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Learn Kotlin Course </b>(Codecademy) <a style="margin: 10px;" target="_blank" href="https://www.codecademy.com/profiles/regiapriandi012/certificates/a549293c6e8d62a61ef1bec410b58162">View Cert</a></h5></li>
        </ul>
        <h3 style="text-align: left;"><b>2021</b></h3>
        <ul style="text-align: left;">
            <li style="padding: 10px;"><h5><b>Programming for Everybody (Getting Started with Python)</b> (University of Michigan) <a style="margin: 10px;" target="_blank" href="https://coursera.org/share/107ec8b4859a10c6f11aa0964678f58a">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>M001: MongoDB Basics</b> (MongoDB University) <a style="margin: 10px;" target="_blank" href="https://university.mongodb.com/course_completion/dd6efa6f-a0b0-4366-85ed-75c0bb260f22?utm_source=copy&utm_medium=social&utm_campaign=university_social_sharing">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Internetworking with VPC</b> (Alibaba Cloud) <a style="margin: 10px;" target="_blank" href="https://xuecdn2.aliyunedu.net/img_0bfb13855831ab97e71991f287ed07d0.png">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Data Visualization Using Python</b> (Alibaba Cloud) <a style="margin: 10px;" target="_blank" href="https://xuecdn2.aliyunedu.net/img_7030ccca2228cf391b502c9b14672251.png">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>An Introduction of DevOps</b> (Alibaba Cloud) <a style="margin: 10px;" target="_blank" href="https://xuecdn2.aliyunedu.net/img_4a638e79849006113480530698195bc6.png">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Operate and Manage a Cloud Server</b> (Alibaba Cloud) <a style="margin: 10px;" target="_blank" href="https://xuecdn2.aliyunedu.net/img_5b0f571ca5428f44b07c8d6e1c56ebf8.png">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Getting Started with Python (1)</b> (Alibaba Cloud) <a style="margin: 10px;" target="_blank" href="https://xuecdn2.aliyunedu.net/img_a3919ac9abdb5180861998447b8f0a3f.png">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Getting Started with Python (2)</b> (Alibaba Cloud) <a style="margin: 10px;" target="_blank" href="https://xuecdn2.aliyunedu.net/img_6f1642c28d5e331eabb63fd1e3461057.png">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Learn Flask Course</b> (Codecademy) <a style="margin: 10px;" target="_blank" href="https://www.codecademy.com/profiles/regiapriandi012/certificates/3b1eb6cd5edcf2b76e68d1531691e46a">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Learn CSS Course</b> (Codecademy) <a style="margin: 10px;" target="_blank" href="https://www.codecademy.com/profiles/regiapriandi012/certificates/9a5bb1fc45b4281af1fffec93b0aaf05">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Learn HTML Course</b> (Codecademy) <a style="margin: 10px;" target="_blank" href="https://www.codecademy.com/profiles/regiapriandi012/certificates/9eb0741e5ebef1f9f58a53bfac67d3a7">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Learn Java Course</b> (Codecademy) <a style="margin: 10px;" target="_blank" href="https://www.codecademy.com/profiles/regiapriandi012/certificates/d3f89367b558583e361640f778191345">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Learn SQL Course</b> (Codecademy) <a style="margin: 10px;" target="_blank" href="https://www.codecademy.com/profiles/regiapriandi012/certificates/042a4e5884e3eb6ea1f2a12be6abb851">View Cert</a></h5></li>
        </ul>
        <h3 style="text-align: left;"><b>2020</b></h3>
        <ul  style="text-align: left;">
            <li style="padding: 10px;"><h5><b>Learn Python 3 Course</b> (Codecademy) <a style="margin: 10px;" target="_blank" href="https://www.codecademy.com/profiles/regiapriandi012/certificates/6c152bd262967f8c941c9707ed636bda">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Analyze Data with Python Skill Path</b> (Codecademy) <a style="margin: 10px;" target="_blank" href="https://www.codecademy.com/profiles/regiapriandi012/certificates/5cacbe7b3709024753e7c3ff">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Build a Machine Learning Model with Python Skill Path</b> (Codecademy) <a style="margin: 10px;" target="_blank" href="https://www.codecademy.com/profiles/regiapriandi012/certificates/5cab64c55f1de8039db366ef">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Visualize Data with Python Skill Path</b> (Codecademy) <a style="margin: 10px;" target="_blank" href="https://www.codecademy.com/profiles/regiapriandi012/certificates/5d24b4845808221825fadca1">View Cert</a></h5></li>
            <li style="padding: 10px;"><h5><b>Memulai Pemograman Dengan Python</b> (Dicoding Indonesia) <a style="margin: 10px;" target="_blank" href="https://dicoding.com/certificates/L4PQ3Q88QPO1">View Cert</a></h5></li>
        </ul>
        </div>
      </div>
    </section>

    <section class="supporting" id="programing">
      <div class="container">
        <div class="col">
          <h1>Programing</h1>
          <p>Below are some programming languages ​​that I have learned, Python, Kotlin, Java, and PHP. for now I focus on Python programming. I chose python as my focus programming language because of the enormous potential of Python on Data Scientist and Backend Engineer. For the Kotlin, Java, and PHP programming languages ​​that I have learned are not very deep, but I understand the basics of that programming language.</p>
          <div class="row" style="padding-bottom: 50px;">
            <div class="column">
                <img src="{% static 'images/python.svg' %}" style="width:50%" alt="python">
                </div>
            <div class="column">
                <img src="{% static 'images/kotlin.svg' %}" style="width:50%" alt="kotlin">
                </div>
            <div class="column">
                <img src="{% static 'images/java.svg' %}" style="width:50%" alt="java">
            </div>
            <div class="column">
                <img src="{% static 'images/php.svg' %}" style="width:50%" alt="java">
            </div>
            </div>
          </div>
          <div style="padding-bottom: 20px;">
          <h4 style="font-weight: normal;">Below is my Github contribution over the last year as many as 270 contributions.</h4>
          <a href="https://github.com/regiapriandi012" target="_blank">Github Profile</a>
          </div>
          <img src="{% static 'images/githubcommit.png' %}" alt="github commit">
        </div>
      </div>
    </section>

    <section class="supporting" id="projects">
        <div class="container">
          <div class="col">
            <h1>Projects</h2>
            <p>Below are projects that I have completed from several programming languages, projects that were entirely done by me and some were done with my friend. There is also a network project that I have worked on, namely blocking ads and malware with Pi-Hole on a Raspberry Pi 4, and also a network attached server project using Nextcloud on a Raspberry Pi 4.</p>
          <h3 style="text-align: left;"><b>2021</b></h3>
          <ul style="text-align: left;">
              <li style="padding: 10px;"><h5><b>Price Predictions</b> (Python - Flask)<a style="margin: 10px;" target="_blank" href="https://github.com/regiapriandi012/PricePredictions">View Project</a></h5></li>
                <p>An application for predicting the price of gold, silver prices, and the price of dollars to rupiah the next day using linear regression, ridge regression, and web-based lasso algorithms using python flask.</p>
              <li style="padding: 10px;"><h5><b>All About Pet</b> (PHP - Laravel)<a style="margin: 10px;" target="_blank" href="https://github.com/regiapriandi012/All-About-Pet">View Project</a></h5></li>
                <p>Information websites about animals, ranging from how to maintain, care for cages, to recommendations for good food for your beloved pet. another feature of all about pet is consultation about pets who are experiencing health problems or something else, another feature that is no less good is booking or booking clinics.</p>
              <li style="padding: 10px;"><h5><b>Tweet Classification</b> (Python - Flask)<a style="margin: 10px;" target="_blank" href="https://github.com/regiapriandi012/tweetclassification">View Project</a></h5></li>
                <p>Web-based application built using the python programming language with the flask framework, the algorithm used is the Naive Bayes Classifier.</p>
            <li style="padding: 10px;"><h5><b>Sipeka</b> (Python - Flask)<a style="margin: 10px;" target="_blank" href="https://github.com/regiapriandi012/sipeka-1">View Project</a></h5></li>
                <p>This application is a Website-based District Service System application, this application serves to assist the community in the related District in registering ID cards and online guidelines.</p>
            <li style="padding: 10px;"><h5><b>Music Playlist</b> (Python - Django)<a style="margin: 10px;" target="_blank" href="https://github.com/regiapriandi012/Music-Playlist">View Project</a></h5></li>
                <p>A simple song player app built using Django framework.</p>
            </ul>
            <h3 style="text-align: left;"><b>2020</b></h3>
            <ul style="text-align: left;">
            <li style="padding: 10px;"><h5><b>Simpeda</b> (Java - Swing)<a style="margin: 10px;" target="_blank" href="https://github.com/LordRanggaAcademy/SIMPEDA">View Project</a></h5></li>
                <p>SIMPEDA or village service system is a GUI Desktop-based application to assist village governments in their efforts to provide excellent service to the community through the availability of data and integrated with an information system that was created and developed specifically according to the needs and problems surrounding services in the village government.</p>
            <li style="padding: 10px;"><h5><b>Covid-19 App Check</b> (Python)<a style="margin: 10px;" target="_blank" href="https://github.com/regiapriandi012/covid19App_check">View Project</a></h5></li>
                <p>A simple application to check the status of Indonesian covid-19 cases using pandas and matplotlib.</p>    
          </ul>
          </div>
        </div>
      </section>

      <section class="supporting" id="publications">
        <div class="container">
          <div class="col">
            <h1>Publications</h2>
            <p>Below are some articles that have been published on several publication platforms. some of these articles contain projects that I have made and tips for computer science students that I hope can be useful.</p>
            <h3 style="text-align: left;"><b>2022</b></h3>
            <ul style="text-align: left;">
              <li style="padding: 10px;"><h5><b>Best Study Recommendations For <br> Increase Knowledge CS Students</b> (students x students)<a style="margin: 10px;" target="_blank" href="https://studentsxstudents.com/best-study-recommendations-for-increase-knowledge-cs-students-ea25550c4a81">View Pub</a></h5></li>
              </ul>
          <h3 style="text-align: left;"><b>2021</b></h3>
          <ul style="text-align: left;">
            <li style="padding: 10px;"><h5><b>Mengklasifikasi Tweet Tentang Ecommerce di <br> Indonesia Dengan Penerapan Naive Bayes Classifier</b> (Data Folks Indonesia)<a style="margin: 10px;" target="_blank" href="https://medium.com/data-folks-indonesia/mengklasifikasi-tweet-tentang-ecommerce-di-indonesia-dengan-penerapan-naive-bayes-classifier-be2e20ab14a2">View Pub</a></h5></li>
            <li style="padding: 10px;"><h5><b>Build own free file hosting with nextcloud <br> in cloud server from Alibaba Cloud</b> (Alibaba Cloud)<a style="margin: 10px;" target="_blank" href="https://www.alibabacloud.com/blog/build-own-free-file-hosting-with-nextcloud-in-cloud-server-from-alibaba-cloud_598218">View Pub</a></h5></li>
            <li style="padding: 10px;"><h5><b>How I make about $140 from Writing</b> (students x students)<a style="margin: 10px;" target="_blank" href="https://studentsxstudents.com/how-i-make-about-140-from-writing-fe80e02f22">View Pub</a></h5></li>
            <li style="padding: 10px;"><h5><b>Treasure Is In Your Student Email</b> (students x students)<a style="margin: 10px;" target="_blank" href="https://studentsxstudents.com/treasure-is-in-your-campus-email-10008cb80116">View Pub</a></h5></li>
              <li style="padding: 10px;"><h5><b>Build Machine Learning models (linear regression, ridge regression, and lasso) <br> to predict the price of gold, silver, and the dollar against <br> the rupiah for the next day and deploy them using flask </b> (Data Folks Indonesia)<a style="margin: 10px;" target="_blank" href="https://medium.com/data-folks-indonesia/build-machine-learning-models-prediction-with-linear-regression-ridge-regression-and-lasso-and-1e0a5bc4503c">View Pub</a></h5></li>
            </ul>
            <h3 style="text-align: left;"><b>2020</b></h3>
            <ul style="text-align: left;">
            <li style="padding: 10px;"><h5><b>Prediksi kasus harian Covid-19 Indonesia <br> dengan penerapan Algoritma Linear Regression </b>(Data Folks Indonesia)<a style="margin: 10px;" target="_blank" href="https://medium.com/data-folks-indonesia/prediksi-kasus-harian-covid-19-indonesia-dengan-penerapan-machine-learning-linear-regression-29e01335a27">View Pub</a></h5></li>
          </ul>
          </div>
        </div>
      </section>

      <footer style="background-color: black;">
        <div class="container">
          <p>&copy; about.regiapriandi.me</p>
        </div>
      </footer>
  

<script type="text/javascript" src="{% static 'js/main.70a66962.js' %}"></script></body>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>