<!DOCTYPE html>
<html>

  <head>
    {% load static %}
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script data-ad-client="ca-pub-7279595890212028" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7279595890212028"
     crossorigin="anonymous"></script>
     <meta name="keywords" 
         content="machine learning Machine Learning Iot Internet of things cloud computing programming tutorial python docker flask computer science student">
    <title>Regi Apriandi | Blog</title>
    <style>
        * {
          box-sizing: border-box;
        }
        
        .column {
          float: left;
          width: 25%;
          padding: 5px;
        }
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>
  </head>

  <body>
    <header style="background-color: black;">
        <nav>
          <ul>
            <li style="margin-right: 20px;"><a class="nav-link" style="text-decoration: none; color: white" href="{% url 'blog' %}">RegiApriandi</a></li>
            <li><a class="nav-link" style="text-decoration: none; color: white" href="{% url 'blog' %}">Blog</a></li>
          </ul>
        </nav>
    </header>

    <main>
      <section>
        <div>
           <h1 style="color: white;padding-top: 0px; padding-bottom: 0px; font-size:1px">.</h1>
        </div>
      </section>
    </main>

    <section class="supporting">
        <div class="container">
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-md-8 mt-3 left">
                    {% for post in post_list %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 style="text-transform: none;">{{ post.title }}</h2>
                            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                            <p class="card-text">{{post.content | striptags | truncatewords:50 }}</p>
                            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
            </div>
        </div>
    </section>

      <footer style="background-color: black;">
        <div class="container">
          <p><a class="nav-link" href="{% url 'index' %}" style="text-decoration: none; color: white">&copy; regiapriandi.me</a></p>
        </div>
      </footer>
  

<script type="text/javascript" src="{% static 'js/main.70a66962.js' %}"></script></body>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>