{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <p class="card-text">I am a student at the Telkom Purwokerto Institute of Technology who is currently
                studying informatics engineering in 6th semester.</p>
            <a href="{% url 'index' %}" class="btn btn-primary">Know More</a>
            <a href="{% url 'post_feed' %}" class="btn btn-primary">RSS</a>
        </div>
    </div>
</div>

{% endblock sidebar %}