{% block sidebar %}



    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">About</h5>
            <div class="card-body">
                <p class="card-text">This blog is made from a project that I have created, then this blog contains tips and tricks for CS students. Original post:</p>
                <a target="_blank" href="https://medium.com/@regiapriandi012" class="btn btn-primary">visit medium</a>
            </div>
        </div>
    </div>

{% endblock sidebar %}